* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.2);
}

.title {
    font-weight: 600;
}

.question {
    font-size: 16px;
    font-weight: 600;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.option {
    font-weight: 600;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #FFFFFF;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.nextBtn {
    font-weight: 500;
    margin-top: 70px;
    padding: 5px 20px;
    background-color: #d7f7cf;
    border: 1px solid rgb(49, 35, 35);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.correct { 
    background-color: green;
}
.wrong {
    background-color: red;
}
.option:disabled {
    cursor: not-allowed;
    opacity: 0.9; 
}

.responce {
    position: relative;
}

.responce-item {
    position: absolute;
    top: 25px;
    left: -145px;
    width: 300px;
    text-align: center;
}
